<a href="https://colab.research.google.com/github/Prajakta1508/MSC_FDS_501/blob/main/FDS%20Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
studentid=[1,2,3,4]
SName=['Prajakta','Tasneem','Akhil','Karina']
LName=['khumbhar','shaikh','gangan','Adal']
Department=['VP','CEO','CFO','HR']
Email=['prajakta@gmail.com','tasneem1@gmail.com','akhil22@gmail.com','Karinaadall@gmail.com']
Degrees=zip(studentid,SName,LName,Department,Email)
columns=['studentid','SName','LName','Department','Email']
df=pd.DataFrame(data=Degrees,columns=columns)
df

   studentid     SName     LName Department                  Email
0          1  Prajakta  khumbhar         VP     prajakta@gmail.com
1          2   Tasneem    shaikh        CEO     tasneem1@gmail.com
2          3     Akhil    gangan        CFO      akhil22@gmail.com
3          4    Karina      Adal         HR  Karinaadall@gmail.com

In [3]:
df.to_csv('praju.csv')
df

   studentid     SName     LName Department                  Email
0          1  Prajakta  khumbhar         VP     prajakta@gmail.com
1          2   Tasneem    shaikh        CEO     tasneem1@gmail.com
2          3     Akhil    gangan        CFO      akhil22@gmail.com
3          4    Karina      Adal         HR  Karinaadall@gmail.com

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [7]:
df.to_excel('praju1.xlsx',index=False,header=True)
df

   studentid     SName     LName Department                  Email
0          1  Prajakta  khumbhar         VP     prajakta@gmail.com
1          2   Tasneem    shaikh        CEO     tasneem1@gmail.com
2          3     Akhil    gangan        CFO      akhil22@gmail.com
3          4    Karina      Adal         HR  Karinaadall@gmail.com